# Exclude iPython/other Python files
.ipynb_checkpoints/
__pycache__/
.pylintrc

# Exclude generated output
output/
*.log
jobs/
stderr/
stdout/
multiplexed_data
notebooks/model_fits/
runthrough/

# Exclude virtualenv
venv-SI_Holmes_2016/

# Exclude Emacs intermediate files
*~

# Exclude Mac detritus
.DS_Store